@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Black.woff2") format("woff2"),url("../fonts/Jost-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Bold.woff2") format("woff2"),url("../fonts/Jost-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src: url("../fonts/Jost-Regular.woff2") format("woff2"),url("../fonts/Jost-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NunitoSans;
  font-display: swap;
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"),url("../fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NunitoSans;
  font-display: swap;
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "NunitoSans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "NunitoSans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f4f4f4;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=__container] {
  max-width: 106.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes animateCircle {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateCircle {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.no-webp .header {
  background: url("../img/lines.svg") center/cover no-repeat,url("../img/bg.png") center/cover no-repeat; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
}

.header__left {
  color: #fff;
  font-family: Jost;
}

.header__title {
  line-height: 100%;
}

.header__title--bold {
  font-weight: 700;
}

.header__subtitle {
  line-height: 100%;
}

.header__right img {
  max-width: 100%;
}

.footer {
  background-color: #0e468b;
  color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.electives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.electives__header {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.25);
          box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

.electives__header p {
  font-family: "Jost";
  color: #38424f;
}

.electives__search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.0625rem;
}

.electives__search-input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41%;
          flex: 0 0 41%;
}

.electives__search-input p {
  font-family: "Jost";
  margin: 0px 0px 0.4375rem 0px;
  color: #38424f;
}

.electives__input {
  width: 100%;
  outline: none;
  padding: 0.625rem 1.875rem;
  border-radius: 0.375rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.25);
          box-shadow: 0px 4px 4px rgba(0,0,0,.25);
  font-size: 1.25rem;
  color: #888e95;
}

.electives__input::-webkit-input-placeholder {
  color: #888e95;
}

.electives__input::-moz-placeholder {
  color: #888e95;
}

.electives__input:-ms-input-placeholder {
  color: #888e95;
}

.electives__input::-ms-input-placeholder {
  color: #888e95;
}

.electives__input::placeholder {
  color: #888e95;
}

.electives__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  border: 1px solid #848a91;
  color: #848a91;
  border-radius: 0.375rem;
  padding: 0.6875rem;
  -webkit-transition: .1s;
  transition: .1s;
}

.electives__blocks {
  margin: 2.9375rem 0px 0px 0px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 1.0625rem;
}

.electives__nav {
  margin: 2.25rem 0 0 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.electives__nav li._active {
  color: #0e468b;
}

.electives__nav li a {
  -webkit-transition: .1s;
  transition: .1s;
}

.elective-block {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.25);
          box-shadow: 0px 4px 4px rgba(0,0,0,.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .1s;
  transition: .1s;
}

.elective-block__title {
  font-family: "Jost";
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: underline;
  -webkit-transition: .1s;
  transition: .1s;
}

.elective-block__author>p {
  color: #888e95;
}

.elective-block__author-block {
  margin: 0.75rem 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5625rem;
}

.elective-block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.625rem;
          flex: 0 0 5.625rem;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  overflow: hidden;
}

.elective-block__img img {
  max-width: 100%;
}

.elective-block__author-name {
  font-weight: 700;
  color: #38424f;
  font-size: 1rem;
  margin: 0px 0px 0.625rem 0px;
}

.elective-block__description p {
  line-height: 120%;
}

.elective-block__description p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.questions {
  margin: 2.25rem 0px 0px 0px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.25);
          box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

.questions__title {
  font-family: "Jost";
  font-weight: 700;
  color: #38424f;
}

.spollers__title {
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  font-weight: 700;
  color: #38424f;
  position: relative;
}

.spollers__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #666;
}

.spollers__title._spoller-active .spollers__plus::after {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spollers__plus {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  border: 4px solid #666;
  position: relative;
}

.spollers__plus::before,
.spollers__plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.0625rem;
  height: 0.1875rem;
  background-color: #666;
  border-radius: 0.375rem;
}

.spollers__plus::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transition: .2s;
  transition: .2s;
}

.spollers__body {
  background-color: #f4f4f4;
}

.spollers__body p {
  line-height: 120%;
}

.spollers__body p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.elective {
  margin-top: -4.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.0625rem;
}

.elective>div {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,.25);
          box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

.elective__author {
  max-width: 36.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.elective__img {
  margin-top: -5.3125rem;
}

.elective__img img {
  max-width: 15.3125rem;
  width: 100%;
  aspect-ratio: 245/342;
  -o-object-fit: cover;
     object-fit: cover;
}

.elective__name {
  margin: 0.875rem 0px 1.375rem 0px;
  padding: 0px 0px 0.5625rem 0px;
  color: #38424f;
  display: inline-block;
  border-bottom: 1px solid #4d4d4d;
}

.elective__subtitle {
  line-height: 120%;
}

.elective__annotation {
  max-width: 31.25rem;
  padding: 1.5rem 1.0625rem;
}

.elective__block-title {
  text-align: center;
  color: #666;
  text-decoration: underline;
  font-size: 1.25rem;
  font-family: "Jost";
  margin: 0px 0px 1.0625rem 0px;
}

.elective__text p {
  text-align: center;
  font-size: 1rem;
  line-height: 120%;
}

.elective__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.elective__info {
  padding: 1.5rem 1.0625rem;
  max-width: 16rem;
  width: 100%;
}

.elective__info-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.elective__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.elective__info-title {
  color: #666;
  font-family: "Jost";
}

@media (min-width: 108.125em) {
  .header {
    padding-top: 6.25rem;
  }

  .header {
    padding-bottom: 6rem;
  }

  .header__title {
    font-size: 6rem;
  }

  .header__subtitle {
    font-size: 3rem;
  }

  .header--elective {
    padding-bottom: 8.75rem;
  }

  .footer {
    margin-top: 8.125rem;
  }

  .footer {
    padding-top: 4.6875rem;
  }

  .footer {
    padding-bottom: 15.625rem;
  }

  .footer__block p,
  .footer__block a {
    font-size: 1.5rem;
  }

  .electives {
    margin-top: 4.75rem;
  }

  .electives__header {
    padding-top: 3.25rem;
  }

  .electives__header {
    padding-bottom: 3.25rem;
  }

  .electives__header {
    padding-left: 4rem;
  }

  .electives__header {
    padding-eight: 4rem;
  }

  .electives__header {
    border-radius: 1.875rem;
  }

  .electives__header p {
    font-size: 3rem;
  }

  .electives__search-block {
    margin-top: 2.9375rem;
  }

  .electives__search-input p {
    font-size: 2.25rem;
  }

  .electives__nav li {
    font-size: 1.5rem;
  }

  .elective-block {
    border-radius: 1.875rem;
  }

  .elective-block {
    padding-top: 3rem;
  }

  .elective-block {
    padding-bottom: 9.375rem;
  }

  .elective-block {
    padding-left: 4rem;
  }

  .elective-block {
    padding-right: 4rem;
  }

  .elective-block__title {
    margin-bottom: 2.5rem;
  }

  .elective-block__description {
    margin-top: 4.375rem;
  }

  .questions {
    border-radius: 1.875rem;
  }

  .questions {
    padding-top: 4.5rem;
  }

  .questions {
    padding-bottom: 3.3125rem;
  }

  .questions__title {
    font-size: 4.375rem;
  }

  .questions__title {
    padding-left: 4rem;
  }

  .questions__title {
    padding-right: 4rem;
  }

  .questions__spollers {
    margin-top: 4.6875rem;
  }

  .spollers__title {
    font-size: 1.5rem;
  }

  .spollers__title {
    padding-top: 1.625rem;
  }

  .spollers__title {
    padding-bottom: 1.625rem;
  }

  .spollers__title {
    padding-left: 4rem;
  }

  .spollers__title {
    padding-right: 4rem;
  }

  .spollers__title::after {
    left: 4rem;
  }

  .spollers__title::after {
    right: 4rem;
  }

  .spollers__body {
    padding-top: 2.5rem;
  }

  .spollers__body {
    padding-bottom: 3.75rem;
  }

  .spollers__body {
    padding-left: 4rem;
  }

  .spollers__body {
    padding-right: 4rem;
  }

  .spollers__body p {
    font-size: 1.25rem;
  }

  .elective>div {
    border-radius: 3.125rem;
  }

  .elective__author {
    padding-left: 4rem;
  }

  .elective__author {
    padding-right: 4rem;
  }

  .elective__author {
    padding-bottom: 3.375rem;
  }

  .elective__name {
    font-size: 2.25rem;
  }

  .elective__subtitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 85em) {
  .elective {
    margin-top: -2.5rem;
  }
}

@media (max-width: 71.875em) {
  .electives__search-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}

@media (max-width: 69.375em) {
  .elective {
    margin-top: -1.25rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .elective__author {
    max-width: 100%;
  }

  .elective__img {
    margin-top: -2.8125rem;
  }

  .elective__annotation {
    max-width: 100%;
  }

  .elective__info {
    max-width: 100%;
  }
}

@media (max-width: 68.75em) {
  .spollers__plus {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.5rem;
            flex: 0 0 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #666;
  }

  .spollers__plus::before,
  .spollers__plus::after {
    width: 1.25rem;
    height: 0.125rem;
  }
}

@media (max-width: 62.5em) {
  .header__right img {
    width: 12.5rem;
  }

  .electives__blocks {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (max-width: 47.5em) {
  .electives__search-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.625rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .electives__search-input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
  }

  .electives__btn {
    margin: 0.3125rem 0px 0px 0px;
  }
}

@media (max-width: 46.25em) {
  .elective {
    margin-top: 3.75rem;
  }
}

@media (max-width: 35.625em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.625rem;
  }

  .header__title {
    margin: 0px 0px 0.625rem 0px;
  }

  .header__right img {
    width: 6.25rem;
  }
}

@media (max-width: 31.25em) {
  .electives__blocks {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__title {
    font-size: 2rem;
  }

  .header__subtitle {
    font-size: 1rem;
  }

  .header--elective {
    padding-bottom: 1.25rem;
  }

  .footer {
    margin-top: 2.5rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 3.125rem;
  }

  .footer__block p,
  .footer__block a {
    font-size: 0.875rem;
  }

  .electives {
    margin-top: 1.875rem;
  }

  .electives__header {
    padding-top: 0.9375rem;
  }

  .electives__header {
    padding-bottom: 0.9375rem;
  }

  .electives__header {
    padding-left: 1.25rem;
  }

  .electives__header {
    padding-eight: 1.25rem;
  }

  .electives__header {
    border-radius: 0.625rem;
  }

  .electives__header p {
    font-size: 1.375rem;
  }

  .electives__search-block {
    margin-top: 0.9375rem;
  }

  .electives__search-input p {
    font-size: 1.125rem;
  }

  .electives__nav li {
    font-size: 1.125rem;
  }

  .elective-block {
    border-radius: 0.625rem;
  }

  .elective-block {
    padding-top: 1.25rem;
  }

  .elective-block {
    padding-bottom: 2.5rem;
  }

  .elective-block {
    padding-left: 1.25rem;
  }

  .elective-block {
    padding-right: 1.25rem;
  }

  .elective-block__title {
    margin-bottom: 0.9375rem;
  }

  .elective-block__description {
    margin-top: 1.875rem;
  }

  .questions {
    border-radius: 0.625rem;
  }

  .questions {
    padding-top: 1.875rem;
  }

  .questions {
    padding-bottom: 1.25rem;
  }

  .questions__title {
    font-size: 1.875rem;
  }

  .questions__title {
    padding-left: 0.9375rem;
  }

  .questions__title {
    padding-right: 0.9375rem;
  }

  .questions__spollers {
    margin-top: 1.25rem;
  }

  .spollers__title {
    font-size: 1.125rem;
  }

  .spollers__title {
    padding-top: 0.625rem;
  }

  .spollers__title {
    padding-bottom: 0.625rem;
  }

  .spollers__title {
    padding-left: 0.9375rem;
  }

  .spollers__title {
    padding-right: 0.9375rem;
  }

  .spollers__title::after {
    left: 0.9375rem;
  }

  .spollers__title::after {
    right: 0.9375rem;
  }

  .spollers__body {
    padding-top: 1.25rem;
  }

  .spollers__body {
    padding-bottom: 1.25rem;
  }

  .spollers__body {
    padding-left: 0.9375rem;
  }

  .spollers__body {
    padding-right: 0.9375rem;
  }

  .spollers__body p {
    font-size: 1rem;
  }

  .elective>div {
    border-radius: 0.625rem;
  }

  .elective__author {
    padding-left: 1.25rem;
  }

  .elective__author {
    padding-right: 1.25rem;
  }

  .elective__author {
    padding-bottom: 1.25rem;
  }

  .elective__name {
    font-size: 1.25rem;
  }

  .elective__subtitle {
    font-size: 1rem;
  }
}

@media (min-width: 20em)and (max-width: 108.125em) {
@supports (padding-top: clamp( 1.25rem , 0.115248227rem  +  5.6737588652vw , 6.25rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.115248227rem  +  5.6737588652vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.115248227rem  +  5.6737588652vw , 6.25rem )) {
    .header {
      padding-top: calc(1.25rem + 5*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.1719858156rem  +  5.390070922vw , 6rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.1719858156rem  +  5.390070922vw , 6rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.1719858156rem  +  5.390070922vw , 6rem )) {
    .header {
      padding-bottom: calc(1.25rem + 4.75*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 2rem , 1.0921985816rem  +  4.5390070922vw , 6rem )) {
    .header__title {
      font-size: clamp( 2rem , 1.0921985816rem  +  4.5390070922vw , 6rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.0921985816rem  +  4.5390070922vw , 6rem )) {
    .header__title {
      font-size: calc(2rem + 4*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1rem , 0.5460992908rem  +  2.2695035461vw , 3rem )) {
    .header__subtitle {
      font-size: clamp( 1rem , 0.5460992908rem  +  2.2695035461vw , 3rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.5460992908rem  +  2.2695035461vw , 3rem )) {
    .header__subtitle {
      font-size: calc(1rem + 2*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -0.4521276596rem  +  8.5106382979vw , 8.75rem )) {
    .header--elective {
      padding-bottom: clamp( 1.25rem , -0.4521276596rem  +  8.5106382979vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.4521276596rem  +  8.5106382979vw , 8.75rem )) {
    .header--elective {
      padding-bottom: calc(1.25rem + 7.5*(100vw - 20rem)/88.125);
    }
}

@supports (margin-top: clamp( 2.5rem , 1.2234042553rem  +  6.3829787234vw , 8.125rem )) {
    .footer {
      margin-top: clamp( 2.5rem , 1.2234042553rem  +  6.3829787234vw , 8.125rem );
    }
}

@supports not (margin-top: clamp( 2.5rem , 1.2234042553rem  +  6.3829787234vw , 8.125rem )) {
    .footer {
      margin-top: calc(2.5rem + 5.625*(100vw - 20rem)/88.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.469858156rem  +  3.9007092199vw , 4.6875rem )) {
    .footer {
      padding-top: clamp( 1.25rem , 0.469858156rem  +  3.9007092199vw , 4.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.469858156rem  +  3.9007092199vw , 4.6875rem )) {
    .footer {
      padding-top: calc(1.25rem + 3.4375*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.2881205674rem  +  14.1843971631vw , 15.625rem )) {
    .footer {
      padding-bottom: clamp( 3.125rem , 0.2881205674rem  +  14.1843971631vw , 15.625rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.2881205674rem  +  14.1843971631vw , 15.625rem )) {
    .footer {
      padding-bottom: calc(3.125rem + 12.5*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7331560284rem  +  0.7092198582vw , 1.5rem )) {
    .footer__block p,
    .footer__block a {
      font-size: clamp( 0.875rem , 0.7331560284rem  +  0.7092198582vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7331560284rem  +  0.7092198582vw , 1.5rem )) {
    .footer__block p,
    .footer__block a {
      font-size: calc(0.875rem + 0.625*(100vw - 20rem)/88.125);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.2225177305rem  +  3.2624113475vw , 4.75rem )) {
    .electives {
      margin-top: clamp( 1.875rem , 1.2225177305rem  +  3.2624113475vw , 4.75rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.2225177305rem  +  3.2624113475vw , 4.75rem )) {
    .electives {
      margin-top: calc(1.875rem + 2.875*(100vw - 20rem)/88.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.412677305rem  +  2.6241134752vw , 3.25rem )) {
    .electives__header {
      padding-top: clamp( 0.9375rem , 0.412677305rem  +  2.6241134752vw , 3.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.412677305rem  +  2.6241134752vw , 3.25rem )) {
    .electives__header {
      padding-top: calc(0.9375rem + 2.3125*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.412677305rem  +  2.6241134752vw , 3.25rem )) {
    .electives__header {
      padding-bottom: clamp( 0.9375rem , 0.412677305rem  +  2.6241134752vw , 3.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.412677305rem  +  2.6241134752vw , 3.25rem )) {
    .electives__header {
      padding-bottom: calc(0.9375rem + 2.3125*(100vw - 20rem)/88.125);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .electives__header {
      padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .electives__header {
      padding-left: calc(1.25rem + 2.75*(100vw - 20rem)/88.125);
    }
}

@supports (padding-eight: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .electives__header {
      padding-eight: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem );
    }
}

@supports not (padding-eight: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .electives__header {
      padding-eight: calc(1.25rem + 2.75*(100vw - 20rem)/88.125);
    }
}

@supports (border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem )) {
    .electives__header {
      border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem );
    }
}

@supports not (border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem )) {
    .electives__header {
      border-radius: calc(0.625rem + 1.25*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0062056738rem  +  1.8439716312vw , 3rem )) {
    .electives__header p {
      font-size: clamp( 1.375rem , 1.0062056738rem  +  1.8439716312vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0062056738rem  +  1.8439716312vw , 3rem )) {
    .electives__header p {
      font-size: calc(1.375rem + 1.625*(100vw - 20rem)/88.125);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.4835992908rem  +  2.2695035461vw , 2.9375rem )) {
    .electives__search-block {
      margin-top: clamp( 0.9375rem , 0.4835992908rem  +  2.2695035461vw , 2.9375rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.4835992908rem  +  2.2695035461vw , 2.9375rem )) {
    .electives__search-block {
      margin-top: calc(0.9375rem + 2*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8696808511rem  +  1.2765957447vw , 2.25rem )) {
    .electives__search-input p {
      font-size: clamp( 1.125rem , 0.8696808511rem  +  1.2765957447vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8696808511rem  +  1.2765957447vw , 2.25rem )) {
    .electives__search-input p {
      font-size: calc(1.125rem + 1.125*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.039893617rem  +  0.4255319149vw , 1.5rem )) {
    .electives__nav li {
      font-size: clamp( 1.125rem , 1.039893617rem  +  0.4255319149vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.039893617rem  +  0.4255319149vw , 1.5rem )) {
    .electives__nav li {
      font-size: calc(1.125rem + 0.375*(100vw - 20rem)/88.125);
    }
}

@supports (border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem )) {
    .elective-block {
      border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem );
    }
}

@supports not (border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem )) {
    .elective-block {
      border-radius: calc(0.625rem + 1.25*(100vw - 20rem)/88.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8528368794rem  +  1.9858156028vw , 3rem )) {
    .elective-block {
      padding-top: clamp( 1.25rem , 0.8528368794rem  +  1.9858156028vw , 3rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8528368794rem  +  1.9858156028vw , 3rem )) {
    .elective-block {
      padding-top: calc(1.25rem + 1.75*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9397163121rem  +  7.8014184397vw , 9.375rem )) {
    .elective-block {
      padding-bottom: clamp( 2.5rem , 0.9397163121rem  +  7.8014184397vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9397163121rem  +  7.8014184397vw , 9.375rem )) {
    .elective-block {
      padding-bottom: calc(2.5rem + 6.875*(100vw - 20rem)/88.125);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective-block {
      padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective-block {
      padding-left: calc(1.25rem + 2.75*(100vw - 20rem)/88.125);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective-block {
      padding-right: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective-block {
      padding-right: calc(1.25rem + 2.75*(100vw - 20rem)/88.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5828900709rem  +  1.7730496454vw , 2.5rem )) {
    .elective-block__title {
      margin-bottom: clamp( 0.9375rem , 0.5828900709rem  +  1.7730496454vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5828900709rem  +  1.7730496454vw , 2.5rem )) {
    .elective-block__title {
      margin-bottom: calc(0.9375rem + 1.5625*(100vw - 20rem)/88.125);
    }
}

@supports (margin-top: clamp( 1.875rem , 1.3076241135rem  +  2.8368794326vw , 4.375rem )) {
    .elective-block__description {
      margin-top: clamp( 1.875rem , 1.3076241135rem  +  2.8368794326vw , 4.375rem );
    }
}

@supports not (margin-top: clamp( 1.875rem , 1.3076241135rem  +  2.8368794326vw , 4.375rem )) {
    .elective-block__description {
      margin-top: calc(1.875rem + 2.5*(100vw - 20rem)/88.125);
    }
}

@supports (border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem )) {
    .questions {
      border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem );
    }
}

@supports not (border-radius: clamp( 0.625rem , 0.3413120567rem  +  1.4184397163vw , 1.875rem )) {
    .questions {
      border-radius: calc(0.625rem + 1.25*(100vw - 20rem)/88.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2792553191rem  +  2.9787234043vw , 4.5rem )) {
    .questions {
      padding-top: clamp( 1.875rem , 1.2792553191rem  +  2.9787234043vw , 4.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2792553191rem  +  2.9787234043vw , 4.5rem )) {
    .questions {
      padding-top: calc(1.875rem + 2.625*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7819148936rem  +  2.3404255319vw , 3.3125rem )) {
    .questions {
      padding-bottom: clamp( 1.25rem , 0.7819148936rem  +  2.3404255319vw , 3.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7819148936rem  +  2.3404255319vw , 3.3125rem )) {
    .questions {
      padding-bottom: calc(1.25rem + 2.0625*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3076241135rem  +  2.8368794326vw , 4.375rem )) {
    .questions__title {
      font-size: clamp( 1.875rem , 1.3076241135rem  +  2.8368794326vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3076241135rem  +  2.8368794326vw , 4.375rem )) {
    .questions__title {
      font-size: calc(1.875rem + 2.5*(100vw - 20rem)/88.125);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .questions__title {
      padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .questions__title {
      padding-left: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .questions__title {
      padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .questions__title {
      padding-right: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.469858156rem  +  3.9007092199vw , 4.6875rem )) {
    .questions__spollers {
      margin-top: clamp( 1.25rem , 0.469858156rem  +  3.9007092199vw , 4.6875rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.469858156rem  +  3.9007092199vw , 4.6875rem )) {
    .questions__spollers {
      margin-top: calc(1.25rem + 3.4375*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1.125rem , 1.039893617rem  +  0.4255319149vw , 1.5rem )) {
    .spollers__title {
      font-size: clamp( 1.125rem , 1.039893617rem  +  0.4255319149vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.039893617rem  +  0.4255319149vw , 1.5rem )) {
    .spollers__title {
      font-size: calc(1.125rem + 0.375*(100vw - 20rem)/88.125);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3980496454rem  +  1.134751773vw , 1.625rem )) {
    .spollers__title {
      padding-top: clamp( 0.625rem , 0.3980496454rem  +  1.134751773vw , 1.625rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3980496454rem  +  1.134751773vw , 1.625rem )) {
    .spollers__title {
      padding-top: calc(0.625rem + 1*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3980496454rem  +  1.134751773vw , 1.625rem )) {
    .spollers__title {
      padding-bottom: clamp( 0.625rem , 0.3980496454rem  +  1.134751773vw , 1.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3980496454rem  +  1.134751773vw , 1.625rem )) {
    .spollers__title {
      padding-bottom: calc(0.625rem + 1*(100vw - 20rem)/88.125);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title {
      padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title {
      padding-left: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title {
      padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title {
      padding-right: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title::after {
      left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title::after {
      left: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title::after {
      right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__title::after {
      right: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.9663120567rem  +  1.4184397163vw , 2.5rem )) {
    .spollers__body {
      padding-top: clamp( 1.25rem , 0.9663120567rem  +  1.4184397163vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9663120567rem  +  1.4184397163vw , 2.5rem )) {
    .spollers__body {
      padding-top: calc(1.25rem + 1.25*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6826241135rem  +  2.8368794326vw , 3.75rem )) {
    .spollers__body {
      padding-bottom: clamp( 1.25rem , 0.6826241135rem  +  2.8368794326vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6826241135rem  +  2.8368794326vw , 3.75rem )) {
    .spollers__body {
      padding-bottom: calc(1.25rem + 2.5*(100vw - 20rem)/88.125);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__body {
      padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__body {
      padding-left: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__body {
      padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.242464539rem  +  3.475177305vw , 4rem )) {
    .spollers__body {
      padding-right: calc(0.9375rem + 3.0625*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9432624113rem  +  0.2836879433vw , 1.25rem )) {
    .spollers__body p {
      font-size: clamp( 1rem , 0.9432624113rem  +  0.2836879433vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9432624113rem  +  0.2836879433vw , 1.25rem )) {
    .spollers__body p {
      font-size: calc(1rem + 0.25*(100vw - 20rem)/88.125);
    }
}

@supports (border-radius: clamp( 0.625rem , 0.0576241135rem  +  2.8368794326vw , 3.125rem )) {
    .elective>div {
      border-radius: clamp( 0.625rem , 0.0576241135rem  +  2.8368794326vw , 3.125rem );
    }
}

@supports not (border-radius: clamp( 0.625rem , 0.0576241135rem  +  2.8368794326vw , 3.125rem )) {
    .elective>div {
      border-radius: calc(0.625rem + 2.5*(100vw - 20rem)/88.125);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective__author {
      padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective__author {
      padding-left: calc(1.25rem + 2.75*(100vw - 20rem)/88.125);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective__author {
      padding-right: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.6258865248rem  +  3.1205673759vw , 4rem )) {
    .elective__author {
      padding-right: calc(1.25rem + 2.75*(100vw - 20rem)/88.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7677304965rem  +  2.4113475177vw , 3.375rem )) {
    .elective__author {
      padding-bottom: clamp( 1.25rem , 0.7677304965rem  +  2.4113475177vw , 3.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7677304965rem  +  2.4113475177vw , 3.375rem )) {
    .elective__author {
      padding-bottom: calc(1.25rem + 2.125*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0230496454rem  +  1.134751773vw , 2.25rem )) {
    .elective__name {
      font-size: clamp( 1.25rem , 1.0230496454rem  +  1.134751773vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0230496454rem  +  1.134751773vw , 2.25rem )) {
    .elective__name {
      font-size: calc(1.25rem + 1*(100vw - 20rem)/88.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9432624113rem  +  0.2836879433vw , 1.25rem )) {
    .elective__subtitle {
      font-size: clamp( 1rem , 0.9432624113rem  +  0.2836879433vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9432624113rem  +  0.2836879433vw , 1.25rem )) {
    .elective__subtitle {
      font-size: calc(1rem + 0.25*(100vw - 20rem)/88.125);
    }
}
}

@media (any-hover: hover) {
  .footer__block a:hover {
    text-decoration: underline;
  }

  .electives__btn:hover {
    background-color: #848a91;
    color: #fff;
  }

  .electives__nav li a:hover {
    color: #0e468b;
  }

  .elective-block:hover {
    -webkit-box-shadow: 0px 4px 20px rgba(0,0,0,.25);
            box-shadow: 0px 4px 20px rgba(0,0,0,.25);
  }

  .elective-block:hover .elective-block__title {
    color: #0e468b;
  }
}

.webp .header { background: url(../img/lines.svg) center/cover no-repeat,url(../img/bg.webp) center/cover no-repeat; }